<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Aggiungi</h1>
    <div class="buttons">
      <button class="button button-light close-modal icon ion-close" ng-click="closeModal()">
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
  <form ng-submit="addItem()">
    <div class="list list-inset">
      <label class="item item-input">
        <input ng-required="true" placeholder="Prodotto" ng-model="name" name="name" type="text">
      </label>
      <ul class="list">
        <li class="item item-toggle">
          Importante
          <label class="toggle toggle-energized">
            <input ng-model="checked" ng-init="checked=false" type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <button class="button button-block button-positive activated">
        Submit
      </button>
    </div>
  </form>
  </ion-content>
</ion-modal-view>
